[Desktop Entry]
Encoding=UTF-8
Name=BAC
Comment=BAC P2P Cryptocurrency
Comment[fr]=BAC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BAC, eşten eşe kriptografik sanal para birimi
Exec=vip-qt %u
Terminal=false
Type=Application
Icon=vip128
MimeType=x-scheme-handler/vip;
Categories=Office;Finance;
