[Desktop Entry]
Encoding=UTF-8
Name=Vip
Comment=Vip P2P Cryptocurrency
Comment[fr]=Vip, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Vip, eşten eşe kriptografik sanal para birimi
Exec=vip-qt %u
Terminal=false
Type=Application
Icon=vip128
MimeType=x-scheme-handler/vip;
Categories=Office;Finance;
