[Desktop Entry]
Encoding=UTF-8
Name=VIP
Comment=VIP P2P Cryptocurrency
Comment[fr]=VIP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VIP, eşten eşe kriptografik sanal para birimi
Exec=vip-qt %u
Terminal=false
Type=Application
Icon=vip128
MimeType=x-scheme-handler/vip;
Categories=Office;Finance;
